@font-face {
  font-family: "Poppins";
  src: url("assets/poppins.ttf") format("truetype");
}

:root {
  --bg-color: #ffffff;
  --text-color: #333;
  --border-color: rgba(0, 0, 0, 0.5);
  --label-color: #eee;
  --red: #f44336;
  --green: #4caf50;
  --blue: #3f51b5;
  --lightblue: #2196f3;
}

.dark-theme {
  --bg-color: #222;
  --text-color: #eee;
  --border-color: rgba(255, 255, 255, 0.5);
  --label-color: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border: none;
  text-decoration: none;
  line-height: 1;
}

button {
  cursor: pointer;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  background: var(--green);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.truncated {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  max-width: 1440px;
  margin: auto;
}

.app {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: 100%;
  height: 100vh;
}

.screen {
  position: relative;
  min-height: 100%;
  padding: 10px;
}

.input-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.input-screen .folder-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 400px;
  max-width: 100%;
  background-color: var(--label-color);
  border: 5px dashed var(--border-color);
  padding: 20px 0;
  cursor: pointer;
}

.input-screen .message {
  width: 350px;
  font-size: 0.8rem;
  opacity: 0.8;
  line-height: 1.25;
}

.input-screen .theme-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  background-color: transparent;
  color: var(--text-color);
}

.home-screen .title {
  margin-bottom: 10px;
}

.home-screen .videos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 5px;
}

.home-screen .videos .item {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.home-screen .videos .item img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 2px;
}

.player-screen {
  position: relative;
  overflow: hidden;
  background-color: black;
  color: white;
  padding: 0;
}

.player-screen .title {
  position: absolute;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  display: flex;
  align-items: center;
  text-align: left;
}

.player-screen .title img {
  margin-right: 5px;
}

.player-screen .player {
  position: absolute;
  width: 100%;
  height: 100%;
}

.player-screen .player video {
  width: 100%;
  height: 100%;
}

.player-screen .controls {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  max-height: calc(100% - 20px);
}

.player-screen .controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.75);
  padding: 25px 0;
  border-radius: 5px;
}

.player-screen .controls button i {
  font-size: 1.5rem;
}

.player-screen .controls .control {
  position: relative;
}

.player-screen .controls .modal-content {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 5px;
  display: none;
  flex-direction: column;
  gap: 5px;
}

.player-screen .controls .control:hover .modal-content {
  display: flex;
}

.toast {
  pointer-events: none;
  position: fixed;
  top: 15vh;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.toast .item {
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.75);
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  width: max-content;
  max-width: 100%;
}

/* Medium screens (Tablets, up to 768px wide) */
@media (max-width: 768px) {
  .player-screen .controls .control:hover .modal-content {
    display: none;
  }
}

/* Small screens (Phones, up to 480px wide) */
@media (max-width: 480px) {
  .input-screen .folder-input {
    width: 300px;
  }

  .input-screen .message {
    width: 250px;
  }

  .player-screen .title {
    width: 100%;
  }
}
